# Serverless Framework
.serverless
.serverless-wsgi
wsgi_handler.py
serverless_wsgi.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Dependencies
node_modules/
.requirements.zip

# Environment
.env

# IDEs
.vscode/
.idea/
