service: nyt-connections-backend

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:Query
            - dynamodb:Scan
          Resource: "arn:aws:dynamodb:us-east-1:389207581640:table/ConnectionsGames"
  
  httpApi:
    cors: true

functions:
  api:
    handler: wsgi_handler.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-wsgi
  - serverless-python-requirements

custom:
  wsgi:
    app: run.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: false
    slim: true
    strip: false
    layer: false
