@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #2e3532;
  --color-green: #8cb369;
  --color-teal: #5b8e7d;
  --color-mustard: #f4a259;
  --color-red: #bc4b51;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-radius: 4px; /* Slight rounding for better look */
}

